<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>gulp-html-starter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon(s) -->
  <link rel="shortcut icon" href="/assets/images/favicon-32.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/images/favicon-32.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon-152.png">

  <!-- Component Styles -->
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/css/style.css">
  

  <!-- Modernizr & Prefix Free (All other JS in footer) -->
  <script src="/components/prefix-free/prefixfree.js"></script>

</head>


<div id="loader" class="@@loader_class">
  <div class="buffer">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>


<body class="">

  <div id="app" class=""> 



  


<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span>gulp-html-starter</span>
      </a>


    </div>
  </div>
</div>




<div id="wrap" style="padding-top:75px;">
  <div class="container">

  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#/page1">Page 1</a></li>
    <li><a href="#/page2">Page 2</a></li>
  </ul>
  

    <script type="text/html" id="home">
      <h1>Router FTW!</h1>
    </script>
    <script type="text/html" id="template1">
      <h1>Page 1: <%= greeting %></h1>
      <p><%= moreText %></p>
      <button class="my-button">Click me <%= counter %></button>
    </script>
    <script type="text/html" id="template2">
      <h1>Page 2: <%= heading %></h1>
      <p>Lorem ipsum...</p>
    </script>
    <script type="text/html" id="error404">
      <h1>404 Not found</h1>
    </script>


    <div id="view"></div>

  </div>
</div>



</div><!-- #app -->



<!-- jQuery CDN or localhost fallback -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>


<!-- Bower Components -->
<script src="/components/store-js/store.min.js"></script>
<script src="/components/handlebars/handlebars.min.js"></script>
<script src="/components/wowjs/dist/wow.min.js"></script>


<!-- <script src="/assets/npm/contentful/browser-dist/contentful.min.js"></script> -->



<!-- Application JS -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/tmpl.js"></script>
<script src="/assets/js/router.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/main.js"></script>



</body>
</html> 